.git
**/.DS_Store
**/node_modules

.env
.gocache
.gradle-home
.gradle-home-macos
.idea
test-results

front-vue/dist
back-go/public
back-kotlin/src/main/resources/static

mystravastats*
osm
strava-*
strava-cache
