# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ directory
.idea

# Ignore strava dowload directory
strava-cache/.strava
strava-*/
.strava
activities-*.json
stream-*.json

# Ignore fit dowload directory
fit-*/

# Ignore gpx dowload directory
gpx-*/

# Ignore mac files
.DS_Store

*.hgt

/DEVELOPMENT.md
/.kotlin/
